:root {
  --main: #f0e5d8;
  --secondary: #bbdfc8;
  --tertiary: #ffc478;
  --quaternary: #75cfb8;
}

html {
  height: 100%;
}

body {
  background-color: var(--main);
  display: flex;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
  height: 100%;
}

#menu_container,
#main_container {
  background-color: var(--secondary);
  border-radius: 10px;
  height: 75%;
}

#menu_container {
  margin-left: 10%;
  width: 20%;

  display: flex;
  align-items: space-around;
}

#main_container {
  margin-right: 10%;
  width: 50%;
}

#vertical_line {
  height: 85%;
  width: 2px;
  border-radius: 90%;
  background-color: var(--quaternary);
}

#slider_and_text {
  display: flex;
  flex-direction: column;
  height: 10%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#slider {
  appearance: none;
  width: 100%;
  height: 1%;
  background: white;
}

#slider_text {
  font-size: 25px;
}
