:root {
  --main: #f0e5d8;
  --secondary: #bbdfc8;
  --tertiary: #ffc478;
  --quaternary: #75cfb8;
}

html {
  height: 100%;
}

body {
  background-color: var(--main);
  display: flex;
  flex-direction: column;

  overflow: hidden;
  height: 100%;
}

#title {
  text-align: center;
  font-size: 60px;
}

#main_window {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

#menu_container,
#main_container {
  background-color: var(--secondary);
  border-radius: 10px;
  height: 75%;
}

#menu_container {
  margin-left: 10%;
  width: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#main_container {
  margin-right: 10%;
  width: 50%;
}

#vertical_line {
  height: 85%;
  width: 2px;
  border-radius: 90%;
  background-color: var(--quaternary);
}

#slider_and_text {
  display: flex;

  height: 10%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

#slider {
  -webkit-appearance: none;

  min-width: 60%;
  max-width: 60%;
  margin-left: 20px;

  height: 3px;
  background: white;
}

#slider_text {
  font-size: 23px;
  color: black;
  margin-right: 20px;
}

#color_container {
  width: 50%;
  height: 10%;
  border-radius: 10%;
  display: inline-block;
  background: #000000;
}

input[type="color"] {
  display: none;
}

input[type="checkbox"] {
  all: unset;
  -webkit-appearance: none;
}

button,
input[type="checkbox"] + label {
  width: 60%;
  height: 10%;
  background-color: var(--tertiary);
  border: solid var(--quaternary) 2px;
  border-radius: 20px;
  font-size: 15px;
  font-family: Arial;
}

label {
  /* Makes text non-selectable */
  user-select: none;
}

input[type="checkbox"] + label {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]:checked + label {
  background-color: #f78d32;
}
